/* Estilos comuns */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-height {
    height: 100%;
}

.radius-2vh {
    border-radius: 2vh;
}

.radius-5vh {
    border-radius: 5vh;
}

.width-80 {
    width: 80%;
}

.bg-white {
    background-color: white;
}

/* Estilos específicos */
.post {
    width: 80%;
    height: 25vh;
    background-color: #000;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto {
    flex: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    width: 50%;
}

.msg {
    flex: 80%;
    height: 40%;
    margin: 7vh;
    background-color: #D9D9D9;
    border-radius: 5vh;
    display: flex;
    align-items: center;
}

.msg input {
    width: 80%;
    border: none;
}

.msg button {
    width: 5vh;
    height: 4vh;
    background: transparent;
    cursor: pointer;
    background-image: url(../Imagens/enviado.webp);
    background-size: cover;
    border: none;
}

.filter {
    display: flex;
    padding: 4vh;
    align-items: center;
}

.filter a {
    width: auto;
    margin-right: 3vh;
}

.filter a img {
    width: 70%;
}

.reddit {
    height: 30vh;
    width: 80%;
    border-bottom: solid 3px black;
    border-radius: .5vh;
    margin-top: 6vh;
}

.topLane {
    display: flex;
    height: 50%;
}

.topLane p {
    margin: 0;
}

.topLane div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoPost {
    flex: 5%;
    height: 100%;
}

.fotoPost img {
    width: 80%;
}

.namePost {
    flex: 10%;
    height: 100%;
}

.hourPost {
    flex: 5%;
    height: 100%;
}

.blank {
    flex: 70%;
    height: 100%;
}

.config {
    flex: 5%;
    height: 100%;
}

.botLane p {
    text-align: justify;
}

/* Aplicando classes comuns */
.post, .data, .foto, .msg, .filter, .topLane div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto, .fotoPost, .namePost, .hourPost, .blank, .config, .data {
    height: 100%;
}
